@font-face {
    font-family: 'MyFont';
    src: url('./images/SmellsLikeTacosBB.woff') format('woff');
    font-style: normal;
  }

body {
    width: 100vw;
    height: 97vh;
    display: flex;
    justify-content: center;

    background-image: url(./images/background.jpg);
    background-size: 400px;
    
}

.container {
    width: 70%;
    width: min(100%, 1000px);
    max-height: 100%;
    border: 1px solid black;
    background-color: white;
    opacity: .8;
    display: grid;
    grid-template-rows: 90px 10px 1fr 24px;
}

header {
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    gap: 30px;
}

hr {
    grid-row: 2 / 3;
    min-height: 1px;
    background-color: black;
    width: 90%;
}

header button {
    width: 120px;
    height: 40px;
    font-size: 32px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid black;
    font-family: 'MyFont';
}

header button:hover {
    cursor: pointer;
}

.active {
    font-size: 32px;
}

.content {
    grid-row: 3 / 4;

    padding: 0 5% 0 5%;
    max-height: 100%;
    width: 90%;
}

footer {
    grid-row: 4 / 5;

    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'MyFont';
    font-size: 20px;
}

footer div {
    padding: 0px 10px 0px 10px;
}

.github {
    display: flex;
    align-content: center; 
    margin-bottom: -8px;
}